extends layout

block content
    h1 Database Test
    form(action="/db", method="post")
        .input
            .label Input Line
            input(type="text", name="value1")
            input(type="text", name="value2")
        .actions
            input(type="submit", value="Send")