<% include partials/header.ejs %>
<!-- CODE FROM HERE -->
<script>
    function addStation() {
        location.replace("/info/station/add");
    }
</script>
<button onclick="addStation()">Add Station</button>
<h1>Station List</h1>
<table id="StationTable">
    <tr>
        <th style="font-size: 150%;"><strong>ID</strong></th>
        <th style="font-size: 150%;"><strong>Name</strong></th>
    </tr>
    <% for(var i=0; i<stationList.length; i++) {%>
    <tr>
        <td><%= stationList[i].stationID%></td>
        <td><%= stationList[i].name%></td>
    </tr>
    <% } %>
</table>
<!-- CODE TILL HERE -->
</div>
</body>

</html>