<% include partials/header.ejs %>
<!-- CODE FROM HERE -->
<form action="/python" method="post">
    <input type="submit" value="Python Run" id="btn1">
</form>
<!-- CODE TILL HERE -->
</div>
</body>

</html>