<% include partials/header.ejs %>
<!-- CODE FROM HERE -->
<div>
    <form action="/python" method="post">
        <input type="submit" value="Python Run">
    </form>
    <img src="/images/earth.gif" width="30%" />
</div>
<!-- CODE TILL HERE -->
</div>
</body>

</html>