<% include partials/header.ejs %>
<!-- CODE FROM HERE -->
<div class="container">
    <!--
    <form action="/python" method="post">
        <input type="submit" value="Python Run">
    </form> -->
    <img class="image" src="/images/earth.gif" width="30%"/>
</div>
<!-- CODE TILL HERE -->
</div>
</body>

</html>
